#user-inputs {
    margin: 50px;
}

.header {
    background-image: url("images/header-background.png");
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Raleway", "sans-serif";
}

.logo {
    color: white;
}

.input-div {
    margin-bottom: 5px;
}

#btn-male {
    background-color: rgba(23, 16, 53);
    color: white;
}

#btn-female {
    background-color: rgb(250, 112, 255);
    color: white;
}

#submit-btn {
    background-color: rgba(23, 16, 53);
    color: white;
}

#results-div {
    visibility: hidden;
}